.header svg {
    width: 9.5em;
}

#info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.avatar img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

.contactme {
    width: 8em;
    height: 2.5em;
}

.background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255, 0.7);
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#photos video {
    width: 6em;
    height: 6em;
}

.mediadiv img {
    width: 6em;
    height: 6em;
}

.mediadiv video {
    width: 6em;
    height: 6em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}