body {
    margin-left: 1em;
    margin-right: 1em;
}
.header svg {
    width: 9.5em;
    margin-left: 4em;
}

.photographers-profile {
    margin-left: 2em;
    margin-right: 2em;
}

#info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    width: 95%;
    height: 30vh;
    margin:auto;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.left-info {
    margin-left: 2em;
}

.left-info p {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

.name {
    color: #d3573c;
    font-weight: thin;
    font-size: 2em;
    margin: 0;
}
.left-info h2 {
    color: #901C1C;
    font-weight: thin;
    font-size: 1.2em;
    margin: 0;
}
.left-info p {
    color: #525252;
}
.left-info a {
    color: #901C1C;
    padding: 2px;
    border: 2px solid #C4C4C4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bolder;
    width: auto;
    justify-content: center;
}

.hashtags {
    display: flex;
    flex-wrap: wrap;
}

.avatar img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2em;
}

#contactme {
    width: 8em;
    height: 3em;
    background:  #901C1C;
    color: white;
    text-align: center;
    font-size: 1em;
    border: 2px solid  #901C1C;
    border-radius: 4px;
    cursor: pointer;
}
#contactme:hover, #contactme:focus {
    background:  #d3573c;
    border: 2px solid #d3573c;
    color: black;
}

.background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255, 0.7);
}

.select-menu {
    margin-left: 2em;
    margin-top: 2em;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 30%;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.filter label {
    font-size: 1.2em;
}

.filterup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 10em;
    width: 10em;
}
.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background: #901C1C;
    color: white;
    width: 8em;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px 4px 0px 0px;
    position: relative;
}

#first-row ::after {
    content: "";
    height: 4px;
    width: 50%;
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.dropdown {
    list-style: none;
    display: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 0;
    background: #901C1C;
    color: white;
    margin-top: 0;
    font-weight: bold;
    cursor: pointer;
    width: 8em;
    padding-left: 6px;
    padding-right: 6px;
    font-family: inherit;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 4px 4px;
}


#popularity {
    background: #901C1C;
    color: white;
    border: none;
    border-radius: 2px 2px 0px 0px;
    width: 5em;
    height: 6vh;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    font-family: inherit;
    text-align: left;
}

.choice {
    text-align: left;
    height: 5vh;
    padding-left: 4px;
    width: 8em;
    padding-top: 14px;
}

#date {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.mediadiv {
    margin-left: 2em;
    margin-right: 2em;
}

.mediadiv img {
    width: 18em;
    height: 18em;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0.4em;
    cursor: pointer;
}

.mediadiv video {
    width: 16em;
    height: 16em;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 0.4em;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
}

.likes-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: 18em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    z-index: 3;
}

.form {
    width: 18em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    background: #db8876;
}

.contact-info {
    width: 18em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
}

.user-info input{
    width: 80%;
    margin-left: 2em;
}
.user-info textarea {
    width: 80%;
    height: 6em;
    margin-left: 2em;
}

.user-info label{
    text-align: left;
    margin-left: 2em;
}

.submit {
    margin-left: 2em;
    margin-top: 1em;
    width: 8em;
    height: 2.5em;
    background:  #901C1C;
    color: white;
    text-align: center;
    font-size: 1em;
    border: 2px solid  #901C1C;
    border-radius: 4px;
    cursor: pointer;
}

.close {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
}
i.fas.fa-times {
    margin-right: 0.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

#contact-message p {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0px;
    color: black;
}

.likesdiv {
    height: 2em;
    width: 10em;
    background: #db8876;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nrheart {
    display: flex;
}
   

#lightbox {
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    position: fixed;
    background: rgba(255,255,255, 0.9);
    z-index: 10;
}

#lightbox.active {
    display: block;
    text-align:center;
  }

#lightbox img {
    width: 24em;
    height: 24em;
    padding: 4px;
    margin-top: 10%;
    margin-left: 10%;
    object-fit: cover;
}

#lightbox video {
    width: 24em;
    height: 24em;
    padding: 4px;
    margin-top: 10%;
    margin-left: 10%;
    object-fit: cover;
}

.previous, .next {
    border: none;
    width: 3em;
    height: 3em;
    background: transparent;
    color:#901C1C;
    position: fixed; 
    top: 40%;
    right: 16%;
    margin-top: -14px;
    cursor: pointer;
    opacity: 1;
}

.previous {
    right: auto;
    left: 28%;
}

.previous:hover, .next:hover {
    opacity: 0.7;
}

.closed {
    border: none;
    width: 3em;
    height: 3em;
    background: transparent;
    color:#901C1C;
    position:fixed;
    top: 3em;
    right: 11em;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
}

.closed:hover {
    opacity: 0.7;
}

i.fas.fa-chevron-right {
    font-weight: 900;
}

.titleparagraph {
    color: #901C1C;
}

#total-likes {
    position: fixed;
    right: 2%;
    bottom: 0;
}


@media all and (max-width: 480px){
    .header svg {
        width: 9em;
        margin-left: 2em;
        margin-top: 2em;
    }

    #info {
        width: auto;
        height: 20vh;
        background-color: #fff;
    }

    .photographers-profile {
        width: auto;
        margin-left: 2em;
        margin-right: 2em;
    }

    .left-info {
        margin-left: 0.5em;
    }

    .photographe {
        width: auto;
    }

    .avatar img {
        width: 7em;
        height: 7em;
        margin-right: 0.5em;
    }    

    #contactme {
        position: fixed;
        left: 30%;
        bottom: 4em;
    }

    .filter {
        display: none;
    }

    #lightbox.active {
        width: 26em;
    }

    #lightbox img {
        width: 18em;
        height: 18em;
        padding: 4px;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        border-radius: 2%;
    }

    #lightbox video {
        width: 18em;
        height: 18em;
        padding: 4px;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        border-radius: 2%;
    }

    .closed {
        top: 10em;
        right: 2em;
    }


    .previous {
        right: auto;
        left: 8%;
    }
    .next, .previous {
        top: 50%;
        right: 4%;
    }
    .left-info a {
        width: 3.8em;
        font-size: 0.6em;
    }

    .likesdiv {
        display: none;
    }
}   

@media all and (max-width: 375px){

    .header svg {
        margin-left: 0.5em;
    }

    .photographers-profile {
        margin-left: 4px;
        margin-right: 4px;
    }
    .left-info h1 {
        font-size: 1.5em;
    }

    .avatar img {
        width: 6em;
        height: 6em;
        margin-right: 0px;
    }

    #lightbox.active {
        width: 22em;
    }

    #lightbox img {
        width: 16em;
        height: 16em;
        padding: 4px;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        border-radius: 2%;
    }

    #lightbox video {
        width: 16em;
        height: 16em;
        padding: 4px;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        border-radius: 2%;
    }

    .closed {
        top: 9em;
        right: 2em;
    }

    .previous {
        right: auto;
        left: 6%;
    }
    .next, .previous {
        top: 50%;
        right: 4%;
    }

}