.header svg {
    width: 9.5em;
}

#info {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.avatar img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

.contactme {
    width: 8em;
    height: 2.5em;
}