.container {
    margin-left: auto;
    margin-right: auto;
}

.tag-container {
    padding: 8px;
    border-radius: 5px;
    height: 1.5em;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.tag-container .tag {
    padding: 2px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    width: fit-content;
    margin: 5px;
    color: #901C1C;
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.fas.fa-hashtag {     
    font-size: 0.75em;
}

.tag-container input {
    border: 0;
    margin: 5px;
    font-size: 0.75em;
    padding: 2px;
    outline: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 10vh;
}

.header svg {
    width: 9.5em;
    margin-left: 2em;
}

.content {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.content h1 {
    color: #901C1C;
    margin-top: -1.8em;
    font-size: 2em;
    margin-right: 1em;
    font-weight: 500;
}

.photographe {
    display: flex;
    flex-direction: column;
    width: 16em;
    height: auto;
    margin-top: 1em;
    align-items: center;
}

.photographe img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
}

.photographe h2 {
    color: #d3573c;
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 0.2em;
}

.photographe a {
    text-decoration: none;
    color: #901C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.price {
    color: #525252;
    opacity: 0.7;
}

.location {
    color: #901C1C;
}

#gallery{
    background: #FFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.selected {
    background-color: #901C1C;
    color: #FFF !important;
}

