.container {
    display: grid;
    grid-auto-flow: row;
    grid:
    "logo main"
    "tags tags"/50% 50% ;
}
.main {
    display: contents;
}

.tag-container {
    padding: 8px;
    border-radius: 5px;
    height: 1.5em;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.tag-container .tag {
    padding: 2px;
    border: 2px solid #C4C4C4;
    border-radius: 12px;
    width: fit-content;
    margin: 5px;
    color: #901C1C;
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.fas.fa-hashtag {     
    font-size: 0.75em;
}

.tag-container input {
    border: 0;
    margin: 5px;
    font-size: 0.75em;
    padding: 2px;
    outline: none;
}

.header {
    display: contents;
    width: auto;
    height: 10vh;
}

.header svg {
    width: 9.5em;
    grid-area: logo;
}

.photographe {
    display: flex;
    flex-direction: column;
}

.photographe img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

.content h1 {
    color: #901C1C;
    grid-area: main;
}

#gallery{
    display: contents;
}

.photographe {
  
}