
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;
}

.tag-container {
    border: 2px solid #901C1C;
    padding: 8px;
    border-radius: 5px;
    width: 20em;
    height: 1.5em;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.tag-container .tag {
    padding: 2px;
    border: 2px solid #C4C4C4;
    border-radius: 12px;
    width: fit-content;
    margin: 5px;
    color: #901C1C;
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.fas.fa-hashtag {     
    font-size: 0.75em;
}

.tag-container input {
    border: 0;
    margin: 5px;
    font-size: 0.75em;
    padding: 2px;
    outline: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
}

.photographe {
    display: flex;
    flex-direction: column;
}

.photographe img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}